@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    background-color: #3B2327;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    color: #855E5C;
}

h1{
    
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 150%;
    margin: 0;
}

h2{
    
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;    
}

.header {
    background-color: #E39E83;
}

.container{
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
}

.generator {
    background-color: #E39E83;
    margin: 10px;
    padding: 10px;
}

#answerWord{
    font-size: 2rem;
    line-height: 200%;
    text-align: center;

    display: none;
    justify-content: space-evenly;
}

.tryword{
    font-size: 2rem;
    line-height: 200%;
    text-align: center;
    margin: 5px 0 5px 0;

    display: flex;
    justify-content: space-evenly;
}

.letter{
    background-color: #F7BF97;
    font-weight: 600;
    width: 4rem;
}

.btnCenter{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    text-align: center;
}

.btn{    
    background-color: #F7E2A9;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: black solid 1px;
    font-family: 'Kanit', sans-serif;
    color: #855E5C;
}

.btn:hover{
    background-color: #F7BF97;
}

#answerBtn{
    margin-left: 10px;
}

#userAns{
    width: 60%;
    height: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;
}

.answerDisplay {
    background-color: #E39E83;
    margin: 10px;
    padding: 15px;
    
    text-align: center;
    font-size: 1.5rem;
    line-height: 150%;
}

.answerForm {    
    line-height: 150%;
    margin: 15px;   
}

.againForm{
    display: none;
}
