@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    background-color: #F7EDE2;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

h1{
    color: #B7897B;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 150%;
    margin: 0;
}

h2{
    color: #B7897B;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;    
}

.header {
    background-color: #F5CAC3;
}

.container{
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
}

.generator {
    background-color: #DAD3C9;
    margin: 10px;
    padding: 10px;
    /* width: 80%; */
    /* min-height: 150px;   */
}

#answerWord{
    font-size: 2rem;
    line-height: 200%;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
}

.tryword{
    font-size: 2rem;
    line-height: 200%;
    text-align: center;
    margin: 5px 0 5px 0;

    display: flex;
    justify-content: space-evenly;
}

.letter{
    background-color: #BDB8B0;
    font-weight: 600;
    width: 4rem;
}

.btnCenter{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    text-align: center;
}

.btn{    
    background-color: #B5838D;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: black solid 1px;
}

.btn:hover{
    background-color: #B7897B;
}

#answerBtn{
    margin-left: 10px;
}

#userAns{
    width: 60%;
    height: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;
}

.answerDisplay {
    background-color: #F5CAC3;
    /* width: 80%; */
    min-height: 150px;
    margin: 10px;

    color: #B7897B;
    text-align: center;
    font-size: 1.5rem;
    line-height: 150%;
}

.lives{
    font-size: 2rem;
    margin: 10px;
    color: #B71515;
}

.answerForm {    
    line-height: 150%;
    margin: 15px;   
}

